auto-install-peers=false
strict-peer-dependencies=false
frozen-lockfile=false

public-hoist-pattern[]=*react*
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*metro*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=@react-native*
public-hoist-pattern[]=*hermes*
